@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@layer base {
  * {
    font-family: "Gabarito", sans-serif;
    @apply m-0 p-0 box-border
  }

  body {
    @apply bg-linear-0 from-(--primary-color) to-(--secondary-color)
  }

  button {
    @apply cursor-pointer
  }

  input {
    @apply border-2 border-(--border) bg-(--accent-primary-color) px-2 py-1
  }

  textarea {
    @apply border-2 border-(--border) bg-(--accent-primary-color) px-2 py-1
  }
}

@layer utilities {
  .achievements {
    flex: 0 0 16.66%;
  }

  .loading {
    @apply flex justify-center items-center h-dvh text-3xl
  }
}

:root {
  --primary-color: #fafafa;
  --accent-primary-color: #edeeff;
  --secondary-color: #e4e5f1;
  --text: #272727;
  --text-h: #08060d;
  --loading-text: #6572AB;
  --error-text: #CC4141;
  --success-text: rgb(86, 179, 101);
  --bg: #fff;
  --border: #afb1d0;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #34343d;
    --accent-primary-color: hsl(240, 8%, 17%);
    --secondary-color: #4f4e58;
    --text: #fafafa;
    --text-h: #f3f4f6;
    --loading-text: #869AE3;
    --error-text: #FC7272;
    --success-text: rgb(86, 179, 101);
    --bg: #16171d;
    --border: #858692;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}